.image-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;
    border-radius: 8px;
    background-color: #e1e6e3;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 85vh;
    max-width: 100%;
    min-height: 500px;
}

.carousel-item img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-position: center;
}

.carousel-item.fill img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.no-fill img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: rgb(128 128 128 / 50%);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s ease;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
}

.carousel-nav:hover {
    background: rgb(128 128 128 / 80%);
}

.carousel-prev {
    left: 0;
    transform: translate(-100%, -50%);
}

.carousel-next {
    right: 0;
    transform: translate(100%, -50%);
}

.image-carousel:hover .carousel-nav {
    opacity: 1;
    pointer-events: auto;
}

.image-carousel:hover .carousel-prev {
    transform: translate(20px, -50%);
}

.image-carousel:hover .carousel-next {
    transform: translate(-20px, -50%);
}

.carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background 0.3s;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.carousel-dot.active {
    background: white;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    padding: 30px 16px 16px;
    text-align: left;
    color: #ffffff;
    font-size: 17px;
    font-family: 'AlimamaFangYuanTiVF';
    font-variation-settings: 'wght' 380, 'ROND' 0;
}



@media screen and (max-width: 768px) {
    .carousel-dot {
        width: 7px;
        height: 7px;
    }
    .carousel-nav {
       display: none; 
    }
    
    .carousel-item img {
        min-height: 200px; 
        max-height: 65vh;
    }
}