# 系统文件
.DS_Store
Thumbs.db

# 开发环境
/phpstudy_pro/
/vendor/
.env
*.log
*.backup

# 第三方应用
/phpMyAdmin4.8.5/

# 编辑器配置
.idea/
.vscode/

# 缓存文件
/data/cache/
/data/sessions*/
/data/tplcache/
/data/backupdata/
/data/uploadtmp/
/data/textdata/
/data/sessions/
/data/ziptmp/